* {
    margin: 0;
    scroll-behavior: smooth;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.header-block{
    padding: 30px;
}
.logo-header{
    width: 232px;
    padding: 30px auto;
}

.logo-header:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.nav-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
}

.nav-header > a{
    padding: 10px;
    text-decoration: none;
    color: rgb(48, 48, 49);
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
}

.nav-header > a:hover{
    color:#FBFF3C;
    transition: 0.3s;
}

.follow-header{
    text-align: center;
}

.follow-header > a{
    padding: 8px;
}

.follow-header > a > img{
    border-radius: 20%;
    
}

.follow-header > a:hover{
   color: rgba(255, 255, 255, 0.3);
   opacity: 0.8;
   transition: 0.3s;

}
 
@media (min-width: 992px){
    .header-block{
        display: grid;
        grid-template-columns: 1.4fr 1.6fr 0.6fr;
        
    }
    .nav-header{
        flex-direction: row;
    }
    .follow-header{
        margin: auto;
        padding: 30px auto;
    }
    .logo-header{
        width: 286px;
    }
}


.footer-top{
    background-image: url(../img/footer/fon-blue-top-footer.webp);
    background-color: #F8F8F8;
    padding-bottom: 100px;
    background-size: cover;
    background-position: center;
}

footer{
    background-color: #225bc1;
    padding: 30px 24px 0px;
    display: grid;
}

.footer-follow-contact{
    display: grid;
}

.footer-follow{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 15px;
    text-align: center;
}

.footer-follow > a > img{
    width: 48px;
}

.footer-follow > a:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.footer-contact{
    display: grid;
    padding: 10px 15px;
    text-align: center;
}

.footer-contact-card{
    margin-top: 50px;
    text-align: center;
}

.footer-contact-card > h3{
    font-family: "Rubik", sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 31px;
    color: white;
}

.footer-contact-card > a{
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FBFF3C;
    text-decoration: none;
}

.footer-contact-card > a:hover{
    color: white;
    transition: 0.5s;
}

.footer-line{
    height:1px;
    width:100%;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    margin: 20px auto;
}

.footer-logo{
    margin: auto;
    width: 272px;
}

.footer-logo > a > img{
    width: 100%;
}

.footer-logo > a:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.footer-logo > h5{
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    color: rgba(255,255,255,0.72);
    padding: 30px 0;
}

.footer-menu{
    text-align: center;
    display: grid;
}

.footer-menu > h3{
    font-family: "Rubik", sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 31px;
    color: white;
}

.menu-line{
    height:4px;
    width:19%;
    background-color:rgb(251, 255, 60);
    border: none;
    margin: 10px auto;
}

.footer-logo-nav-map{
    padding-top: 15px;
}

.footer-nav{
    display: grid;
}

.footer-nav > a{
    text-decoration: none;
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: rgba(255,255,255,0.72);
    padding: 5px 0 15px;
}

.footer-nav > a:hover{
    color: white;
    transition: 0.5s;
}

.footer-map > iframe{
    margin: auto;
    width: 100%;
    height: 100%;
}

.created-by{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.created-by > p{
    text-decoration: none;
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    color: white;
    padding: 15px;
}

.created-by > img {
    width: 150px;
}

@media (min-width: 768px){
    .footer-follow-contact{
        grid-template-columns: 1fr 3fr;
    }
    .footer-contact{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer-follow{
        grid-template-columns: 1fr 1fr;
    }
    .footer-contact-card{
        text-align: left;
        margin: 0;
    }
    .footer-logo-nav-map{
        align-content: space-between;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .created-by{
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-logo > h5{
        text-align: justify;
    }
}

@media (min-width: 992px){
    .footer-follow{
        grid-template-columns: 1fr 1fr 1fr;
        padding-right: 90px;
    }
    .footer-map > iframe{
        width: 400px;
        height: 268px;
    }
    .menu-line{
        width: 10% ;
        margin: -5px auto;
    }
    .footer-logo{
        margin: 0;
        padding: 0 15px;
    }
}