* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.main-photo{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/index/main-ngo-dim.jpg);
    height: 610px;
    background-size: cover;
    background-position: center;
    background-position-y: 70%;
}

.main-photo-text{
    text-align: center;
    padding-top: 280px;
}

.main-photo-text > h1{
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 42px;
    padding: 10px;
}

.main-photo-text > hr{
    border: none; 
    color: rgba(255, 255, 255, 0.8); 
    background-color: rgba(255, 255, 255, 0.8); 
    height: 1px; 
    width: 40%;
    margin: auto;
}

.main-photo-text > h2{
    font-family: "Fira Sans", sans-serif;
    color: rgb(209,209,209);
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
}

@media (min-width: 992px){
    .main-photo{
        height: 820px;
    }
    .main-photo-text{
        padding-top: 350px;
    }
    .main-photo-text > h1{
        font-size: 68px;
        width: 910px;
        margin: auto;
        text-align: center;
        font-weight: 500;
    }
    .main-photo-text > h2{
        font-size: 26px;
    }
}

.about-us{
    padding: 90px 24px;
}

.about-us-text{
    text-align: center;
    padding-bottom: 30px;
}

.about-us-text > h2{
    font-family: "Rubik", sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: #225bc1;
    padding-bottom: 30px;
}

.about-us-text > h3{
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #828285;
    line-height: 30px;
}

.about-us-blocks{
    display: grid;
}

.about-us-card{
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin: 25px 15px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
}

.about-us-card > img{
    width: 85px;
    margin: 10px auto;
}

.about-us-card > h3{
    font-family: "Rubik", sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #303031;
    line-height: 31px;
    margin: 15px auto;
}

.about-us-card > p{
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #828285;
    line-height: 24px;
    margin: 15px auto;
}

.about-us-card > hr{
    height:4px;
    width:19%;
    background-color:#225bc1;
    margin: auto;
    border: none;
}

@media (min-width: 768px){
    .about-us-blocks{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px){
    .about-us-blocks{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .about-us-text > h2{
        font-size: 46px;
    }
}


.about-numbers-header{
    background-image: url(../img/index/about-us/fon-grey-top.webp);
    padding-top: 20px;
    padding-bottom: 80px;
}

.about-numbers{
    background-color: #F8F8F8;
    padding-top: 40px;
}

.about-numbers-footer{
    background-image: url(../img/index/about-us/fon-grey-bottom.webp);
    padding-bottom: 100px;
    background-position-x: 50%;
}

.about-numbers-blocks{
    display: grid;
}

.about-numbers-card{
    background-color: #225bc1;
    border-radius: 10px;
    text-align: center;
    margin: 25px 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.about-numbers-card > h2{
    font-family: "Rubik", sans-serif;
    font-size: 54px;
    font-weight: 700;
    color: white;
    line-height: 59px;
    margin: 15px auto;
}

.about-numbers-card > hr{
    height:4px;
    width:19%;
    background-color:rgb(251, 255, 60);
    margin: auto;
    border: none;
}

.about-numbers-card > p{
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    line-height: 24px;
    margin: 15px auto;
}

@media (min-width: 768px){
    .about-numbers-blocks{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px){
    .about-numbers-blocks{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .about-numbers-card > h2{
        font-size: 82px;
    }
}

.camp{
    background-image: url(../img/index/camp/fon-camp.png);
    background-position-x: 40%;
    background-attachment: fixed;
    background-size: cover;
}

.camp-block{
    display: grid;
    padding: 100px 15px;
}

.camp-card{
    background-color: white;
    border-radius: 10px;
    text-align: left;
    margin: 25px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.camp-card > h2{
    font-family: "Rubik", sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #225bc1;
    line-height: 38px;
    padding: 15px 0;
}

.camp-card > hr{
    height:4px;
    width:19%;
    background-color:rgb(251, 255, 60);
    border: none;
}

.camp-card > p{
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #828285;
    line-height: 24px;
    margin: 15px auto;
}

@media (min-width: 768px){
    .camp{
        background-position-x: 51%;
    }
    .camp-block{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px){
    .camp{
        background-position-x: right;
    }
    .camp-block{
        grid-template-columns: 1fr 1.5fr;
    }
    .camp-card > h2{
        font-size: 46px;
    }
}

.docudays-poster{
    background-image: url(../img/index/docudays/poster.jpg);
    height: 220px;
    background-size: cover;
    background-position-y: 55%;
}

.docudays-info{
    background-image: url(../img/index/docudays/fon-blue.webp);
    padding: 70px 30px;
}

.container-docudays{
    max-width: 714px;
    margin: auto;
}

.docudays-info-header{
    display: grid;
}

.docudays-info-header > h2{
    font-family: "Rubik", sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: white;
    line-height: 38px;
    padding: 15px 0;
    text-align: left;
}

.docudays-info-header > h3{
    font-family: "Rubik", sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: white;
    line-height: 31px;
    padding: 15px 0;
    text-align: left;
}

.docudays-info-header > p{
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    line-height: 24px;
    padding: 15px 0;
    text-align: left;
}   

.docudays-info-footer{
    display: grid;
}

.docudays-info-footer > h4{
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 24px;
    padding: 15px 0;
    text-align: left;
}

.docudays-info-footer > p{
    font-family: "Fira Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    line-height: 27px;
    margin: 15px 0;
    padding: 15px 0;
    text-align: left;
}

.docudays-info-check{
    display: flex;
    margin: 10px 0;
}

.docudays-info-check > img{
    width: 20px;
    height: 20px;
    
}

.docudays-info-check > p{
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;
    line-height: 23px;
    padding-left: 10px;
    text-align: left;
}

@media (min-width: 768px){
    .docudays{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .docudays-poster{
        height: auto;
        background-position-x: 86%;
    }
}

.projects{
    padding: 90px 30px 40px 30px;
    margin: auto;
    background-color: #F8F8F8;
}

.projects-text{
    text-align: center;
    padding-bottom: 30px;
}

.projects-text > h2{
    font-family: "Rubik", sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: #225bc1;
    padding-bottom: 20px;
}

.projects-text > h3{
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #828285;
    line-height: 30px;
}

.projects-blocks{
    display: grid;
}

.projects-card{
    padding: 30px 0;
    display: grid;
    width: 272px;
    margin: auto;
}

.projects-card-img{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 317px;
    border-radius: 20px;
}

.card-img-holiday{
    background-image: url(../img/index/projects/holiday.jpg);
}

.card-img-camps{
    background-image: url(../img/index/projects/camps.jpg);
}

.card-img-mykolia{
    background-image: url(../img/index/projects/mykolia.jpg);
}

.projects-card > p{
    padding: 17px 35px;
    background-color: #225bc1;
    border-radius: 20px;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: white;
    margin: -40px 10px 0 10px;
}

.projects-button{
    text-align: center;
    padding-top: 50px;
}

.projects-button > a{
    text-decoration: none;
    background-color: #FBFF3C;
    color: #303031;
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    padding: 15px 30px;
    border-radius: 5px;
}

.projects-button > a:hover{
    background-color: #225bc1;
    color: #F8F8F8;
    transition: 1s;
}

.projects-bottom{
    background-image: url(../img/index/about-us/fon-grey-bottom.webp);
    padding-bottom: 100px;
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px){
    .projects-blocks{
        grid-template-columns: 1fr 1fr;
    }
    .projects-card{
        width: 337px;
    }
    .projects-card-img{
        height: 398px;
    }
}

@media (min-width: 992px){
    .projects-blocks{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .projects-card{
        width: 284px;
    }
    .projects-card-img{
        height: 332px;
    }
    .projects-text > h2{
        font-size: 46px;
    }
    .projects-card > p{
        margin: -40px 20px 0 20px;
    }
}

@media (min-width: 1280px){
    .projects-card{
        width: 370px;
    }
    .projects-card-img{
        height: 439px;
    }
}

.gallery{
    padding: 90px 0 45px;
}

.gallery-text{
    text-align: center;
    padding-bottom: 30px;
}

.gallery-text > h2{
    font-family: "Rubik", sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: #225bc1;
    padding-bottom: 20px;
}

.gallery-text > h3{
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #828285;
    line-height: 30px;
}

.documents-top{
    background-image: url(../img/index/documents/fon-blue-top.webp);
    padding-bottom: 100px;
    background-size: cover;
    background-position: center;
}

.documents{
    background-color: #225bc1;
}

.documents-text{
    font-family: "Rubik", sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: white;
    padding-bottom: 30px;
    text-align: center;
}

.documents-block{
    display: grid;
}

.documents-card{
    display: grid;
    padding: 20px 0;
    text-align: center;
}

.documents-card-img{
    width: 70px;
}

.documents-card-text{
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
    line-height: 30px;
    text-decoration: none;
    padding: 10px;
}

@media (min-width: 768px){
    .documents-block{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .documents-card-img{
        width: 100px;
    }
}

.contact-form{
    background-color: #F8F8F8;
    padding: 90px 24px;
}

.contact-form-block{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form-text > h2{
    font-family: "Rubik", sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: #225bc1;
    padding-bottom: 20px;
}

.contact-form-text > h3{
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #828285;
    line-height: 30px;
    padding-bottom: 30px;
}

