* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.news{
    padding: 20px 0 80px;
    align-items: center;
    justify-content: center;
    /* display: flex;
    flex-direction: column-reverse; */
}

.img-preview{
    text-align: center; 
}
.img-preview > img{
    width: 80%;
    border-radius: 10px;
}

.description{
    padding: 20px;
    text-align: left;
}

.news-data > h5{
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #828285;
    line-height: 22.4px;
    padding: 10px;
}

.news-text > h3{
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #828285;
    line-height: 24px;
    padding: 10px;
    margin-bottom: 10px;
}

.info-button{
    text-decoration: none;
    background-color: #FBFF3C;
    color: #303031;
    font-family: "Fira Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    padding: 9px 15px;
    border-radius: 5px;
    margin: 20px auto auto 8px;
}

.info-button:hover{
    background-color: transparent;
    border: 2px solid  #FBFF3C;
}

.news-follow{
    padding: 20px 10px;
}

.news-follow > a > img{
    border-radius: 20%;
}

.news-follow > a > img:hover{
    color: rgba(255, 255, 255, 0.3);
   opacity: 0.8;
   transition: 0.3s;
}

hr{
    border: none; 
    color: #828285; 
    background-color: #828285; 
    height: 1px; 
    width: 90%;
    margin: 10px auto
}

@media (min-width: 768px){
    .news-block{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .img-preview{
        justify-self: center; 
        align-self: center;
        margin-right: -20px;
        padding-left: 10px;
    }

}
